:root {
  --color-red-light: #fa455d;
  --color-red-dark: #db465a;

  --color-white: #fff;

  --color-black: #000;
  --color-black-rgb: 0, 0, 0;

  --color-blue-transparent: #a0bdf113;
  --color-blue-light: #305eb2;
  --color-blue-light-rgb: rgb(48, 94, 178);

  --color-blue-dark: #233b67;
  --color-blue-dark-rgb: rgb(35, 59, 103);

  --color-gray: rgb(73, 73, 73);
  --color-gray-lighter: #7c7c7c;
  --color-gray-light-1: #f7f7f7;

  --color-gray-light-2: #f7f7f7d7;
  --color-gray-light-3: rgb(245, 245, 245);
  --color-gray-light-4: rgb(209, 209, 209);
}
