@import "../../../Scss/main.scss";

.Heading_Secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--color-blue-dark),
    var(--color-blue-light)
  );
  -webkit-background-clip: text;
  word-spacing: 0.3rem;
  letter-spacing: 0.2rem;
  color: transparent;
  transition: all 0.2s;
}

.White {
  font-size: 6rem;
  font-weight: 700;
  display: inline-block;
  word-spacing: 0.3rem;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  color: var(--color-gray-light-1);

  @include respond(tap-port) {
    font-size: 5rem;
  }

  @include respond(phone) {
    font-size: 4rem;
  }
}
